//COLORS

$black: #1b1b1b;
$black-light: #323232;

$orange: #fc6e20;

$yellow-light: #ffe7d0;

$white: #ffffff;
$red: #A32620;

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: 62.5em){
        font-size: 56.25%;
    }

    @media only screen and (max-width: 56.25em){
        font-size: 50%;
    }

    @media only screen and (max-width: 50em){
        font-size: 43.75%;
    }

    @media only screen and (max-width: 48em){
        font-size: 31.25%;
    }

    @media only screen and (max-width: 37.5em){
       
    }
}

body{
    font-family: 'Mulish', sans-serif;
}

.trans{
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

