.feature{
    padding: 5rem 0;
    text-align: center;

    &__tittle{
        font-size: 4rem;
        font-weight: 700;
    }

    &__description{
        font-size: 1.5rem;
        color: $black;
        margin-top: 2rem;
    }
}


.des{
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.754)), url(/assets/img/10.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.description{
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 0;
   
    &::before{
        position: absolute;
        
    }

    justify-content: center;
    max-width: 140rem;
    margin: 10rem auto;

    &__tittle{
        display: flex;
        flex-direction: column;
        flex: 2;
        padding: 0 1rem;
        color: $white;
        

        h1{
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 2rem;
        }

        p{
            font-size: 2rem;
            color: $white;
        }
    }

    .glide{
        flex: 0 0 50%;
        width: 50%;
        border-radius: 5px;
        overflow: hidden;

       

        &__slide{
            height: 40rem;
            width: 20rem;
            


            img{
                width: 100%;
                height: 100%;
                
            }
        }
    }
}


.why-us{
    margin: 30rem 0;


    .why{
        display: flex;
        justify-content: space-around;
        max-width: 140rem;
        margin: 0 auto;

        &__img{
            flex: 0 0 40%;

            img{
                width: 100%;
            }

            
        }

        &__text{
            flex: 0 0 40%;

            h1{
                font-size: 4rem;
                font-weight: 800;
                margin-bottom: 2rem;
                color: $red;
            }

            p{
                font-size: 1.5rem;
                color: $black;
            }
        }
        
    }

    
}

.system{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(47deg, #0000006b, #00000067 ), url(/assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;




    &__tittle{
        text-align: center;
        margin-top: 2rem;
        h1{
            font-weight: 200;
            color: $white;

        }
        span{

                font-size: 5rem;
                color: $white;
            
        }
    }

    &__content{
        display: flex;
        max-width: 140rem;
        flex-wrap: wrap;
        justify-content: center;

        .box{
            margin: 4rem;
            // justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            background-color:rgba(255,255,255, 0.1);
            border: 1px solid rgba(255,255,255, 0.5);
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    border-right: 1px solid rgba(255,255,255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(25px);
            padding: 2rem 6rem;
            

            &__text{
                ul{
                    padding: 1rem;
                    h1{
                        color: $black;
                    }
                    

                    li{
                        list-style: none;
                        padding: .5rem;
                        h1{
                            color: $black;
                        }
                        
                    }
                }
            }
            
            &__img{
                height: 4rem;
                width: 4rem;

                img{
                    width: 100%;
                    color: red;
                   
                }
            }
        }
    }
}

.quote{
    background-color: red;
    padding: 5rem;

}